<h2>Gestion des Courses</h2>


<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Départ X:</label>
    <input formControlName="departX" type="number" />
  </div>
  <div>
    <label>Départ Y:</label>
    <input formControlName="departY" type="number" />
  </div>
  <div>
    <label>Arrivée X:</label>
    <input formControlName="arriveeX" type="number" />
  </div>
  <div>
    <label>Arrivée Y:</label>
    <input formControlName="arriveeY" type="number" />
  </div>
  <div>
    <label>Camion ID:</label>
    <input formControlName="camionId" type="number" />
  </div>
  <button type="submit">{{ selectedCourseId ? 'Mettre à jour' : 'Créer' }} la course</button>
</form>

<ul>
  <li *ngFor="let course of courses">
    Course ID: {{ course.id }} - Camion ID: {{ course.camionId }}
    <button (click)="editCourse(course)">Modifier</button>
    <button (click)="deleteCourse(course.id!)">Supprimer</button>
  </li>
</ul>
